<p>
    Для практики в лингвистике Роботы хотят изучить суффиксы.
</p>

<p>
    В этой задаче дан набор слов в нижнем регистре.
    Проверьте есть ли в этом наборе пара слов, такая что одно слово заканчивается другим (суффикс или совпадение).

    Для примера: {"hi", "hello", "lo"} -- "lo" это окончание "hello", так что результат True.
</p>

<p>
    <strong>Замечания: </strong>
    Для этой задачи вы можете
    {% if "python 2" in interpreter|lower %}
    прочитать о <a href="http://docs.python.org/2/library/stdtypes.html#set">типе данных set</a> и
    <a href="http://docs.python.org/2/library/stdtypes.html#str.endswith">строковых функциях</a>.
    {% else %}
    прочитать о <a href="http://docs.python.org/3/library/stdtypes.html#set">типе данных set</a> и
    <a href="http://docs.python.org/3/library/stdtypes.html#str.endswith">строковых функциях</a>.
    {% endif %}
</p>

<p>
    <strong>Вх. данные: </strong> Слова как набор (set) строк (str).
</p>

<p>
    <strong>Вых. данные: </strong> True или False, как булево выражение.
</p>


<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>
{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">endOfOther(["hello", "lo", "he"]) == true
endOfOther(["hello", "la", "hellow", "cow"]) == false
endOfOther(["walk", "duckwalk"]) == true
endOfOther(["one"]) == false
endOfOther(["helicopter", "li", "he"]) == false
</pre>
{% else %}
<pre class="brush: python">end_of_other({"hello", "lo", "he"}) == True
end_of_other({"hello", "la", "hellow", "cow"}) == False
end_of_other({"walk", "duckwalk"}) == True
end_of_other({"one"}) == False
end_of_other({"helicopter", "li", "he"}) == False
</pre>
{% endif %}
</div>

<p class="for_info_only">
    <strong>Как это используется: </strong>
    В этой задаче вы познакомитесь с тем, как итерировать тип данных set и некоторыми полезными функциями.
</p>


<p>
    <strong>Предусловия: </strong>
    2 &le; len(words) &lt; 30<br>
    all(re.match(r"\A[a-z]{1,99}\Z", w) for w in words)
</p>

<div class="facts for_info_only">
    <p>
        Каждый игрок может создавать свои задачи на Checkio, начиная с 9ого уровня.
        У вас есть возможность создать головоломки для ваших друзей.
    </p>
</div>

